@model BacalhauResponde.Models.ViewModels.CriarPerguntaViewModel

<div class="modal fade" id="modal-cadastrar-pergunta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal-cadastrar-pergunta">Faça uma pergunta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Pergunta" asp-action="Cadastrar" method="post">
                <div class="modal-body">
                    <div class="pb-3">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" required autofocus />
                    </div>
                    <div class="pb-3">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal" onclick="limparCampos()">Cancelar</button>
                    <button type="submit" class="btn btn-primary rounded-pill">Fazer pergunta</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function limparCampos() {
        const campoDeTitulo = document.getElementsByClassName("form-control")[0]
        const campoDeDescricao = document.getElementsByClassName("form-control")[1]

        campoDeTitulo.value = ""
        campoDeDescricao.value = ""
    }
</script>
