@using System.Text.Json

@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i>
        @TempData["sucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["erros"] != null)
{
    var erros = JsonSerializer.Deserialize<List<string>>(TempData["erros"].ToString());
    foreach (var erro in erros)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon-fill"></i>
            @erro
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@if (TempData["atencao"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        @TempData["atencao"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["informacao"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <i class="bi bi-info-circle-fill"></i>
        @TempData["informacao"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}